<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Database</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="style-navbar">
    <ul>
      <li class="style-li-inline form-nav"><a href="/">Home</a></li>
      <li class="style-li-inline form-nav"><a href="/dashboard">Dashboard</a></li>
      <li class="style-li-inline form-nav"><a href="/login">Login</a></li>
      <li class="style-li-inline form-nav"><a href="#" id="link-logout">Logout</a></li>
    </ul>
  </nav>
  <header class="title">
    <h1 class="style-title"><a href="/">Tech Blog Databse</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex">
    &copy; 2023 Masihullah Omer
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
