<div class="content-card">
  <div class="content-header">
    <h2>Login</h2>
  </div>
  <form id="input-login" class="input-body">
    <div>
      <label for="login-username">Username</label>
      <input type="text" id="login-username" />
    </div>
    <div>
      <label for="input-login-password" class="lable-form">Password</label>
      <input type="password" id="input-login-password" />
    </div>
    <button type="submit" id="login-btn" class="styles-btn">Login!</button>
    <a id="style-signup" type="button" href="/signup">Pleas sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>