<div class="content-card">
  <div class="content-header">
    <h2> New Post</h2>
  </div>
  <form id="post-new" class="input-body">
    <label class="lable-form" for="title-id">Title</label>
    <input type="text" name="title-id" class="input-post" />

    <label class="lable-form" for="body-form">Content</label>
    <textarea name="body-form" class="input-post"></textarea>

    <button type="submit" class="styles-btn">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>