<div class="content-card">
  <div class="content-header">
    <h2>Sign Up</h2>
  </div>
  <div id="style-signup" role="tabpanel">
    <form id="form-signup" class="input-body">
      <div>
        <label for="signup-input">Username</label>
        <input type="text" id="signup-input" />
      </div>
      <div>
        <label for="input-signup-password">Password</label>
        <input type="password" id="input-signup-password" />
      </div>
      <button type="submit" id="signup-btn" class="styles-btn" >Signup!</button>
      <a href="/login"> Please login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>